@import "tailwindcss";
@plugin "daisyui";

body {
  background-color: rgb(245, 241, 244);
}

@theme {
  --breakpoint-xs: 670px;
  --breakpoint-sm: 765px;
  --breakpoint-lg: 995px;
  --breakpoint-xl: 1200px;
}
